:root {
  --default: #7d00da;
}

html,
body {
  font-family     : 'JetBrains Mono', monospace !important;
  background-color: #121212;
}

body.is-admin {
  background-color: white !important;
}

.navbar-end.is-admin a {
  color: white;
}

.navbar-end.is-admin a:hover {
  background-color: #171717;
}

.column {
  flex-grow: 1;
}


.photo {
  width : 128px;
  height: 128px;
}

.hero-head {
  border-bottom: #7d00da solid 3px;
}

.card-content {
  height: 290px !important;
}

@media (max-width: 780px) {
  .card-content {
    height: 350px !important;
  }
}

.has-background-default {
  background-color: var(--default);
  color           : white;
  border-color    : #7702d1;
}

.has-background-default:hover {
  color       : rgb(236, 236, 236);
  border-color: #8d0fec;
}

/* admin settings */
.menu-list ul li a {
  color: white;
}

.menu-list li ul {
  border-left : 1px solid #0a6751;
  margin      : .75em;
  padding-left: .75em;
}

.menu-list a.is-active {
  background-color: #0a6751;
  color           : #fff;
}

.input::placeholder,
.select select::placeholder,
.textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

ol.has-text-centered {
  list-style-position: inside;
}